.sidebar{
    display: flex;
    flex: 0.25;
    flex-direction: column;
}

.sidebar .sidebar_prof {
    border-bottom: 1px solid #ccc;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}


.sidebar .sidebar_prof img{
    width: 100%;
    height: 50px;
    margin-bottom: -30px;
}

.sidebar .sidebar_prof .MuiAvatar-circular {
    width: 50px;
    height: 50px;
    margin: 0px auto;
    object-fit: contain;
}
.prof_detail {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.prof_detail h4{
    margin-bottom: 0px;
}
.prof_detail p{
    margin:5px 10px;
    font-size: 13px;
    color: #333;
}

.profile_stats {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 0px 10px;
}

.sidebar_rec {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
    position: sticky;
    top: 60px;
}
.sidebar_rec p{
    margin: 0px 0px 10px 0px;
    font-size: 13px;
    display: flex;
    align-items: center;
}
.hash span {
    font-weight: bold;
    font-size: 18px;
    margin-right: 5px;
    color: #000099;
}